playbooks/host-isolation-playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "IsolateCompromisedHost",
      "metadata": {
        "description": "Name of the Logic App playbook for host isolation"
      }
    },
    "DefenderEndpointResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID for Microsoft Defender for Endpoint"
      }
    }
  },
  "variables": {
    "SentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "DefenderConnectionName": "[concat('defender-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('SentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "Azure Sentinel Connection",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Check_Incident_Severity": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['severity']",
                      "High"
                    ]
                  }
                ]
              },
              "actions": {
                "Extract_Host_Entities": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "HostEntities",
                        "type": "array",
                        "value": "@triggerBody()?['object']?['properties']?['relatedEntities']"
                      }
                    ]
                  },
                  "runAfter": {}
                },
                "For_each_Host": {
                  "type": "Foreach",
                  "foreach": "@variables('HostEntities')",
                  "actions": {
                    "Condition_Check_Host_Type": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@items('For_each_Host')['kind']",
                              "Host"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "HTTP_Isolate_Machine": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://api.securitycenter.microsoft.com/api/machines/@{items('For_each_Host')['properties']['azureID']}/isolate",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "Comment": "Isolated by Sentinel playbook due to high-severity incident",
                              "IsolationType": "Full"
                            },
                            "authentication": {
                              "type": "ManagedServiceIdentity"
                            }
                          }
                        },
                        "Add_isolation_comment": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment",
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "Host @{items('For_each_Host')['properties']['hostName']} has been isolated via Defender for Endpoint"
                            }
                          },
                          "runAfter": {
                            "HTTP_Isolate_Machine": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Extract_Host_Entities": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                "connectionName": "[variables('SentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {}
}
